.blink {
  display: inline-block;
  font-size: 80px;
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.anko {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 300px;
  margin-top: 30px;
  text-align: center;
}

.scroll {
  font-size: 30px;
  width: 470px;
}

.contents {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

footer {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial;
}

